audioread==2.1.9
ffmpeg==1.4
jiwer==2.2.0
librosa==0.8.0
matplotlib==3.4.0
mido==1.2.9
mir-eval==0.6
music21==6.7.1
numpy==1.19.1
pandas==1.2.3
pretty-midi==0.2.9
pytorch-lightning==1.2.5
scikit-image==0.18.1
scikit-learn==0.24.1
scipy==1.6.2
seaborn==0.11.1
tensorboard==2.4.1
torch==1.8.1
torchtext=0.9.1
